# ZedBoard


# Timing Specifications Constrain


# FPGA Pin Location Constrain

NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[0]" LOC = Y11;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[0]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[1]" LOC = AA11;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[1]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[2]" LOC = Y10;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[2]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[3]" LOC = AA9;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[3]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[4]" LOC = AB11;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[4]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[5]" LOC = AB10;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[5]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[6]" LOC = AB9;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[6]" IOSTANDARD = LVCMOS33;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[7]" LOC = AA8;
NET "pwm_controller_pwm_controller_pcore_0_PmodJA1_pin[7]" IOSTANDARD = LVCMOS33;
