# ZedBoard


# Timing Specifications Constrain


# FPGA Pin Location Constrain

NET "pmodacl_ip_14a_hdl_dut_pcore_0_PmodJA1_in_pin" LOC = "AA9"  |  IOSTANDARD = LVCMOS33;
NET "pmodacl_ip_14a_hdl_dut_pcore_0_PmodJA1_out_pin<0>" LOC = "Y11"  |  IOSTANDARD = LVCMOS33;
NET "pmodacl_ip_14a_hdl_dut_pcore_0_PmodJA1_out_pin<1>" LOC = "AA11"  |  IOSTANDARD = LVCMOS33;
NET "pmodacl_ip_14a_hdl_dut_pcore_0_PmodJA1_out_pin<2>" LOC = "Y10"  |  IOSTANDARD = LVCMOS33;
