# ZedBoard


# Timing Specifications Constrain


# FPGA Pin Location Constrain

NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<0>" LOC = "T22"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<1>" LOC = "T21"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<2>" LOC = "U22"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<3>" LOC = "U21"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<4>" LOC = "V22"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<5>" LOC = "W22"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<6>" LOC = "U19"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_GPLEDs_pin<7>" LOC = "U14"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<0>" LOC = "Y11"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<1>" LOC = "AA11"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<2>" LOC = "Y10"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<3>" LOC = "AA9"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<4>" LOC = "AB11"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<5>" LOC = "AB10"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<6>" LOC = "AB9"  |  IOSTANDARD = LVCMOS33;
NET "zedboardtest_led_counter_pcore_0_PmodJA1_pin<7>" LOC = "AA8"  |  IOSTANDARD = LVCMOS33;
