# ZedBoard


# Timing Specifications Constrain


# FPGA Pin Location Constrain

NET "GPLEDs<0>" LOC = "T22"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<1>" LOC = "T21"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<2>" LOC = "U22"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<3>" LOC = "U21"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<4>" LOC = "V22"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<5>" LOC = "W22"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<6>" LOC = "U19"  |  IOSTANDARD = LVCMOS33;
NET "GPLEDs<7>" LOC = "U14"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<0>" LOC = "Y11"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<1>" LOC = "AA11"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<2>" LOC = "Y10"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<3>" LOC = "AA9"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<4>" LOC = "AB11"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<5>" LOC = "AB10"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<6>" LOC = "AB9"  |  IOSTANDARD = LVCMOS33;
NET "PmodJA1<7>" LOC = "AA8"  |  IOSTANDARD = LVCMOS33;
